<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css"></link>
<link rel="stylesheet" th:href="//estilos/style.css">
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="https://kit.fontawesome.com/814638b048.js" crossorigin="anonymous"></script>
</head>
<body background="@{/images/imgs/fondo_salon.jpeg}">
	<div th:fragment="headerProfesor">
		<!-- this is header -->
		<nav class="navbar navbar-inverse" style="height:100px;">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" th:href="@{/inicio/bienvenido}"><img th:src="@{/images/logo/iama.png}" class="logo" style="width:70px;height:70px;margin:0px;padding-right: 0px;" alt=""></a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav" style="margin-top:30px;margin-left:30px;">
						<li class="active"><a th:href="@{/seccion/perfil}"><i class="fas fa-user-circle"></i>	Perfil</a></li>
						
						<li class="active"><a th:href="@{/inicio/login}"><i class="fas fa-sign-out-alt"></i>	Salir</a></li>

					</ul>
				</div>
			</div>
		</nav>
	</div>

</body>
</html>
